<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Bee forum homepage</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .imgs {
            display: inline-block;
            vertical-align: middle;
        }

        li .imgs {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }

        .custom-navbar-form {
            margin-left: 200px;
            margin-bottom: 50px;
        }

        .custom-navbar-form-2 {
            margin-left: -700px;
            margin-bottom: 50px;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: black">
        <div class="imgs" style="display: inline-block; margin-right: 5px; margin-top: -5px;"><img alt="bee" height="40"
                                                                                                   src="/static/u0.png"
                                                                                                   width="45"/></div>
        Bee Aware Forum</a>
    <div class="collapse navbar-collapse" id="myNavbar" style="position: absolute; top: 30px; right: 170px;">
        <ul class="nav navbar-nav">
            <li>
                <div class="imgs"><a href="{{ url_for('qa.index') }}"><img height="50" src="/static/u146.svg"
                                                                           width="50"/></a></div>
                <a href="{{ url_for('qa.index') }}">Home</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_my_post') }}"><img src="/static/u147.svg"/></a></div>
                <a href="{{ url_for('qa.public_my_post') }}">My post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.save') }}"><img src="/static/u148.svg"/></a></div>
                <a href="{{ url_for('qa.save') }}">Save</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.history') }}"><img src="/static/u149.svg"/></a></div>
                <a href="{{ url_for('qa.history') }}">History</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_qa') }}"><img src="/static/u151.png"/></a></div>
                <a href="{{ url_for('qa.public_qa') }}">Post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.profile') }}"><img src="/static/u150.svg"/></a></div>
                <a href="{{ url_for('qa.profile') }}">User</a>
            </li>
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="container">

    <div class="row">
        <div class="col-sm-8" style="background-color:white;">
            <div class="col-sm-8">
                <br>
                <br>
                {% if g.user %}

                    {% for history in histories %}
                        <ul>
                            <form>
                                <table border="0%" width="525px"
                                           style="background-color:ghostwhite; border: 2px solid black;">
                                        <tr>
                                            <td style="background-color:ghostwhite;">
                                                <div style="display: flex; align-items: flex-start;">

                                                    <!-- Left-side image -->
                                                    <div style="flex: 1.5; min-width: 150px;">
                                                        <a href="{{ url_for('qa.index') }}">
                                                            {% if history.question.image_filename %}
                                                                <img src="{{ url_for('static', filename='src/' + history.question.image_filename) }}"
                                                                     alt="Image"
                                                                     style="width: 100%; height: auto;">
                                                            {% else %}
                                                                <img src="/static/u44.svg" alt="head portrait"
                                                                     style="width: 100%; height: auto;">
                                                            {% endif %}
                                                        </a>
                                                    </div>

                                                    <!-- Right-side text -->
                                                    <div style="flex: 2; font-size: larger; margin-left: 15px;">
                                                        <h1>{{ history.question.title }}</h1>
                                                        <p>Date: {{ history.question.create_Time }}</p>
                                                        <p>View: {{ history.question.NumOfView }}</p>
                                                        <p>Likes: {{ history.question.NumOfLikes }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">
                                                <div style="padding-right: 20px;display: inline-block; text-align: center;">
                                                    <a href="{{ url_for('qa.qa_detail', qa_id=history.question.id) }}">
														Detail

                                                    </a>
                                                    <br>
                                                     <a href="{{ url_for('qa.delete_history', question_id=history.question.id)}}">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                            <br/>
                                <br/>
                            </form>
                        </ul>
                    {% endfor %}

                {% else %}
                    <p>No history</p>
                {% endif %}


                <div class="jumbotron text-center" style="margin-bottom:0; background-color:white;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">

                            <!--!-->
                            {% if histories.has_prev %}
                                <li>
                                    <a href="{{ url_for('qa.history', page=histories.prev_num) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for page_num in histories.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if histories.page == page_num %}
                                        <li class="active"><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="{{ url_for('qa.history', page=page_num) }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li class="disabled"><span>...</span></li>
                                {% endif %}
                            {% endfor %}

                            {% if saves.has_next %}
                                <li>

                                    <a href="{{ url_for('qa.history', page=histories.next_num) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            <!--!-->
                        </ul>
                    </nav>
                </div>
            </div>


            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <script>
                $("#uploadedImage").change(function () {
                    readURL(this);
                });

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#previewImage').attr('src', e.target.result);
                            $('#previewImage').css('display', 'block');
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                <!--输入框自动变大-->
                $(document).ready(function () {
                    $('textarea').on('input', function () {
                        this.style.height = 'auto';
                        this.style.height = (this.scrollHeight) + 'px';
                    });
                });


                // 为具有特定 name 和 placeholder 的输入框添加输入事件监听器
                document.querySelector('input[name="q"][placeholder="input tag here"]').addEventListener('input', function () {
                    // 使用正则表达式匹配所有 # 后面的单词
                    var matches = this.value.match(/#[a-zA-Z0-9_]+/g);
                    if (matches) {
                        // 移除每个匹配项的 # 符号
                        var hashtags = matches.map(function (tag) {
                            return tag.substring(1); // 去掉 #
                        });
                        console.log(hashtags);
                    }
                });


            </script>
        </div>
        <br/>
        <br/>


        <div class="col-sm-4">
            <form method="POST">

                <div class="quick-review-container"
                     style="display: flex; align-items: center;">
                    <h2 style="display: inline; margin-left: 22px; margin-right: 20px;">History List</h2>
                    <!-- Inline Pagination Controls -->

                </div>
                <ul>
                    {% if not g.user %}
                        <br>
                        <li></li>
                    {% else %}

                        {% for history in histories1[:10] %}
                            <li><h3><a
                                    href="{{ url_for('qa.qa_detail', qa_id=history.question.id) }}">#{{ history.question.title }}</a>
                            </h3></li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </form>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
    </div>
</div>
</body>
</html>f