<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Bee forum homepage</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .imgs {
            display: inline-block;
            vertical-align: middle;
        }

        li .imgs {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }

        .custom-navbar-form {
            margin-left: 200px;
            margin-bottom: 50px;
        }

        .custom-navbar-form-2 {
            margin-left: -700px;
            margin-bottom: 50px;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: black">
        <div class="imgs" style="display: inline-block; margin-right: 5px; margin-top: -5px;"><img alt="bee" height="40"
                                                                                                   src="/static/u0.png"
                                                                                                   width="45"/></div>
        Bee Aware Forum</a>
    <div class="collapse navbar-collapse" id="myNavbar" style="position: absolute; top: 30px; right: 170px;">
        <ul class="nav navbar-nav">
            <li>
                <div class="imgs"><a href="{{ url_for('qa.index') }}"><img height="50" src="/static/u146.svg"
                                                                           width="50"/></a></div>
                <a href="{{ url_for('qa.index') }}">Home</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_my_post') }}"><img src="/static/u147.svg"/></a></div>
                <a href="{{ url_for('qa.public_my_post') }}">My post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.save') }}"><img src="/static/u148.svg"/></a></div>
                <a href="{{ url_for('qa.save') }}">Save</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.history') }}"><img src="/static/u149.svg"/></a></div>
                <a href="{{ url_for('qa.history') }}">History</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_qa') }}"><img src="/static/u151.png"/></a></div>
                <a href="{{ url_for('qa.public_qa') }}">Post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.profile') }}"><img src="/static/u150.svg"/></a></div>
                <a href="{{ url_for('qa.profile') }}">User</a>
            </li>
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <form action="{{ url_for('qa.searchinpost') }}" class="navbar-form navbar-left custom-navbar-form" method="GET"
          role="search" style=" margin-left: -50px;">
        <div class="form-group" style="position: relative;">
            <img alt="Search" src="/static/search_icon.svg"
                 style="position: absolute; left: 5px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; z-index: 1; pointer-events: none;"/>
            <input class="form-control" name="q" placeholder="Search"
                   style="width: 600px; height: 40px; padding-left: 30px;" type="text"/>
        </div>
        <button class="btn btn-default" style="height: 40px; margin-left: 0px" type="submit">Submit</button>
    </form>
    <div class="row">
        <div class="col-sm-8" style="background-color:white;">
            <div class="col-sm-8">
                <br/>
                <br/>
                <ul class="question-ul">
                    {% for question in questions %}
                        {% if user.id==question.author.id and user.username==question.author.username %}
                            <form action="{{ url_for('qa.delete_question', question_id=question.id) }}" method="POST">
                                <li>
                                    <table border="0%" width="525px"
                                           style="background-color:ghostwhite; border: 2px solid black;">
                                        <tr>
                                            <td style="background-color:ghostwhite;">
                                                <div style="display: flex; align-items: flex-start;">

                                                    <!-- Left-side image -->
                                                    <div style="flex: 1.5; min-width: 150px;">
                                                        <a href="{{ url_for('qa.index') }}">
                                                            {% if question.image_filename %}
                                                                <img src="{{ url_for('static', filename='src/' + question.image_filename) }}"
                                                                     alt="Image"
                                                                     style="width: 100%; height: auto;">
                                                            {% else %}
                                                                <img src="/static/u44.svg" alt="head portrait"
                                                                     style="width: 100%; height: auto;">
                                                            {% endif %}
                                                        </a>
                                                    </div>

                                                    <!-- Right-side text -->
                                                    <div style="flex: 2; font-size: larger; margin-left: 15px;">
                                                        <h1>{{ question.title }}</h1>
                                                        <p>Date: {{ question.create_Time }}</p>
                                                        <p>View: {{ question.NumOfView }}</p>
                                                        <p>Likes: {{ question.NumOfLikes }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">
                                                <div style="padding-right: 20px;display: inline-block; text-align: center;">
                                                    <a href="{{ url_for('qa.qa_detail', qa_id=question.id) }}">
														Detail
                                                    </a>
                                                    <br>
                                                    <a onclick="confirmDelete()"  href="{{ url_for('qa.delete_question', question_id=question.id)}}">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>


                                </li>
                                <br/>
                                <br/>
                            </form>
                        {% endif %}
                    {% endfor %}

                </ul>
                <div class="jumbotron text-center" style="margin-bottom:0; background-color:white;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">

                            <!--!-->
                            {% if questions.has_prev %}
                                <li>
                                    <a href="{{ url_for('qa.public_my_post', page=questions.prev_num) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if questions.page == page_num %}
                                        <li class="active"><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="{{ url_for('qa.public_my_post', page=page_num) }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li class="disabled"><span>...</span></li>
                                {% endif %}
                            {% endfor %}

                            {% if questions.has_next %}
                                <li>

                                    <a href="{{ url_for('qa.public_my_post', page=questions.next_num) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            <!--!-->
                        </ul>
                    </nav>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <script>
                $("#uploadedImage").change(function () {
                    readURL(this);
                });

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#previewImage').attr('src', e.target.result);
                            $('#previewImage').css('display', 'block');
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                <!--输入框自动变大-->
                $(document).ready(function () {
                    $('textarea').on('input', function () {
                        this.style.height = 'auto';
                        this.style.height = (this.scrollHeight) + 'px';
                    });
                });


            </script>
        </div>
        <br/>
        <br/>


        <div class="col-sm-4">
            <form method="POST">
                <div class="quick-review-container"
                     style="display: flex; align-items: center;">
                    <h2 style="display: inline; margin-left: 22px; margin-right: 20px;">My Post List</h2>
                    <!-- Inline Pagination Controls -->

                </div>


                <ul>

                    {% for my_post in my_posts[:10] %}
                        {% if not g.user %}
                            <br/>
                            <li></li>
                        {% else %}
                            <li><h3><a
                                    href="{{ url_for('qa.qa_detail', qa_id=my_post.id) }}">#{{ my_post.title }}:</a>
                            </h3></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </form>
            <hr class="hidden-sm hidden-md hidden-lg"/>
        </div>
    </div>
</div>
</body>
</html>