<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Bee forum homepage</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .imgs {
            display: inline-block;
            vertical-align: middle;
        }

        li .imgs {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }

        .custom-navbar-form {
            margin-left: 200px;
            margin-bottom: 50px;
        }

        .custom-navbar-form-2 {
            margin-left: -700px;
            margin-bottom: 50px;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: black">
        <div class="imgs" style="display: inline-block; margin-right: 5px; margin-top: -5px;"><img alt="bee" height="40"
                                                                                                   src="/static/u0.png"
                                                                                                   width="45"/></div>
        Bee Aware Forum</a>
    <div class="collapse navbar-collapse" id="myNavbar" style="position: absolute; top: 30px; right: 170px;">
        <ul class="nav navbar-nav">
            <li>
                <div class="imgs"><a href="{{ url_for('qa.index') }}"><img height="50" src="/static/u146.svg"
                                                                           width="50"/></a></div>
                <a href="{{ url_for('qa.index') }}">Home</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_my_post') }}"><img src="/static/u147.svg"/></a></div>
                <a href="{{ url_for('qa.public_my_post') }}">My post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.save') }}"><img src="/static/u148.svg"/></a></div>
                <a href="{{ url_for('qa.save') }}">Save</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.history') }}"><img src="/static/u149.svg"/></a></div>
                <a href="{{ url_for('qa.history') }}">History</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_qa') }}"><img src="/static/u151.png"/></a></div>
                <a href="{{ url_for('qa.public_qa') }}">Post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.profile') }}"><img src="/static/u150.svg"/></a></div>
                <a href="{{ url_for('qa.profile') }}">User</a>
            </li>
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="container">


    <div class="row" style="">


        <br/>
        <br/>
        <br/>
        <br/>
        <table border="0%" width="1050px" style="border: 1px solid black;">
            <tr>
                <td style="background-color:white;">
                    <div style="display: flex; align-items: flex-start;">
                        <form action="{{ url_for('qa.other_profile',user_id=user.id)}}" method="POST" enctype="multipart/form-data">
                            <div style="display: flex; align-items: center;">
                                <img src="{{ url_for('static', filename='src/' + user.image_filename) }}" alt="Image"
                                     style="margin-left: 15px; margin-right: 20px; width: 200px; height: 200px">
                                <div>
                                    <h5 style="font-size: 24px; font-weight: bold;">{{ user.username }}</h5>
                                    <h5>—————————————————————————————————————————————————————————</h5>
                                    <h5>Lv.: {{ user.level }}</h5>
                                    <div style="display: flex; align-items: center;">
                                        <div class="progress" style="width: 70%;">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ (user.exp / 150) * 100 }}%;"
                                                 aria-valuenow="{{ user.exp }}" aria-valuemin="0" aria-valuemax="150">
                                            </div>
                                        </div>
                                        <span style="margin-left: 15px;">
                                ({{ 150 - user.exp }} points further to the next level)
                            </span>
                                    </div>
                                    <div style="text-align: center;">
                                        Points: {{ user.exp }}/150
                                    </div>
                                    <h5>—————————————————————————————————————————————————————————</h5>
                                    <tr>
                                        <td style="background-color:white;">
                                            <table style="width: 100%; text-align: center; margin-left: 240px;">
                                                <tr>
                                                    <th>
                                                        <div style="width: 100px;">&nbsp&nbsp&nbspPost</div>
                                                    </th>
                                                    <th>
                                                        <div style="width: 100px;">Favourite</div>
                                                    </th>
                                                    <th>
                                                        <div style="width: 100px;">History</div>
                                                    </th>
                                                    <th>
                                                        <div style="width: 200px;">Number of likes received</div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" style="height: 10px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div style="width: 60px;">{{ post_records}}</div>
                                                    </td>
                                                    <td>
                                                        <div style="width: 60px;">{{ favourite_records}}</div>
                                                    </td>
                                                    <td>
                                                        <div style="width: 50px;">{{ history_records}}</div>
                                                    </td>
                                                    <td>
                                                        <div style="width: 180px;">{{ likes_records}}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>


        <br/>
        <br/>
        <br/>
        <table border="0%" width="1050px"
               style="background-color:white;  border: 1px solid black;">
            <tr style="">
                <td style="background-color:white;">
                    <div style="display: flex; margin-left: 40px;margin-top: 20px; align-items: flex-start;">

                        <form action="{{ url_for('qa.profile') }}" method="POST" enctype="multipart/form-data">
                            <label for="username">Username: {{ user.username }}</label>



                            <h5>—————————————————————————————————————————————————————————————————</h5>

                            <label for="image">Avatar:</label>
                            <img src="{{ url_for('static', filename='src/' + user.image_filename) }}" alt="Image"
                                 style="margin-left: 15px; width: 100px; height: 100px">
                            <!--Tag的接口位置-->


                            <h5>—————————————————————————————————————————————————————————————————</h5>



                            <label for="introduction">introduction: {{ user.introduction }}</label>

                            <br><br>






                        </form>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>