<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bee forum homepage</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .imgs {
            display: inline-block;
            vertical-align: middle;
        }

        li .imgs {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }
        .custom-navbar-form {
            margin-left: 200px;
            margin-bottom: 50px;
        }
        .custom-navbar-form-2 {
            margin-left: -700px;
            margin-bottom: 50px;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <a class="navbar-brand" style="color: black" href="#">
        <div class="imgs" style="display: inline-block; margin-right: 5px; margin-top: -5px;"><img src="/static/u0.png"
                                                                                                   alt="bee" width="45"
                                                                                                   height="40"></div>
        Bee Aware Forum</a>
    <div class="collapse navbar-collapse" id="myNavbar" style="position: absolute; top: 30px; right: 170px;">
        <ul class="nav navbar-nav">
            <li>

                <div class="imgs"><a href="{{ url_for('qa.index') }}"><img src="/static/u146.svg" width="50"
                                                                           height="50"></a></div>
                <a href="{{ url_for('qa.index') }}">Home</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_my_post') }}"><img src="/static/u147.svg"></a></div>
                <a href="{{ url_for('qa.public_my_post') }}">My post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.save') }}"><img src="/static/u148.svg"></a></div>
                <a href="{{ url_for('qa.save') }}">Save</a>
            </li>

            <li>
                <div class="imgs"><a href="{{ url_for('qa.history') }}"><img src="/static/u149.svg"></a></div>
                <a href="{{ url_for('qa.history') }}">History</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.public_qa') }}"><img src="/static/u151.png"></a></div>
                <a href="{{ url_for('qa.public_qa') }}">Post</a>
            </li>
            <li>
                <div class="imgs"><a href="{{ url_for('qa.profile') }}"><img src="/static/u150.svg"></a></div>
                <a href="{{ url_for('qa.profile') }}">User</a>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8" style="background-color:white;">
            <div class="container" style="text-align: left;">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">

                        <div><input type="text" class="form-control" placeholder="Type title here..." name="title"
                                    style="width: 400px; height: 60px;  font-size: 30px;"/></div>

                        <label for="name" style="padding-left: 10px; font-size: 10px;">My {{ post_records}} post is about to be
                            published.</label>
<br>
                        <!--Tag的接口位置-->
                        <div class="form-group">
                            <!--上传图片的接口位置-->
                            <input accept="image/*"  name="image" class="form-control" id="uploadedImage"
                                   style="width: 75px; height: 35px; padding-left: 0px;"
                                   type="file"/>
                            <span id="imagePrompt" style="color: #777; font-size: 14px;">Upload An Image Here</span>

                        </div>
                        <script>
                            document.getElementById('uploadedImage').addEventListener('change', function () {
                                if (this.files.length > 0) {
                                    document.getElementById('imagePrompt').style.display = 'none';
                                } else {
                                    document.getElementById('imagePrompt').style.display = 'inline';
                                }
                            });
                        </script>
                        <div class="form-group">
                            <img alt="Selected Image" id="previewImage" src="#"
                                 style="display: none; max-width: 100%; height: auto;"/>
                        </div>
                        <div>
                            <textarea class="form-control" name="content" placeholder="Type your content here..."
                                      style="width: 600px; height: 300px; " type="text"></textarea>
                        </div>
                        <div>Tag: <input type="text" id="tag" name="tag" style="width: 100px; height: 30px; "></div>
                    </div>
                    <button style="margin-left: 275px;" class="btn btn-default" type="submit">Post</button>
                </form>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <script>
                $("#uploadedImage").change(function () {
                    readURL(this);
                });
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#previewImage').attr('src', e.target.result);
                            $('#previewImage').css('display', 'block');
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                <!--输入框自动变大-->
                $(document).ready(function () {
                    $('textarea').on('input', function () {
                        this.style.height = 'auto';
                        this.style.height = (this.scrollHeight) + 'px';
                    });
                });


                // 为具有特定 name 和 placeholder 的输入框添加输入事件监听器
                document.querySelector('input[name="q"][placeholder="input tag here"]').addEventListener('input', function () {
                    // 使用正则表达式匹配所有 # 后面的单词
                    var matches = this.value.match(/#[a-zA-Z0-9_]+/g);
                    if (matches) {
                        // 移除每个匹配项的 # 符号
                        var hashtags = matches.map(function (tag) {
                            return tag.substring(1); // 去掉 #
                        });
                        console.log(hashtags);
                    }
                });


            </script>


        </div>
        <br>
    <br>
    <br>
    <br>
        <div class="col-sm-4">
            <form method="POST" action="{{ url_for('qa.index') }}">
                <div class="quick-review-container">
                    <h2>Hot topic</h2>
                </div>

                <ul>

                    {% for question in hot_posts[:3] %}
                        <li><h3><a href="{{ url_for('qa.qa_detail', qa_id=question.id) }}">#{{ question.title }}:</a></h3></li>
                        <h3>likes:{{ question.NumOfLikes }}/view:{{ question.NumOfView }}</h3>
                    {% endfor %}
                </ul>
            </form>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <!--显示Quick review-->
        <div class="col-sm-4">
            <form method="POST" >

                <div class="quick-review-container">
                    <h2>History</h2>
                </div>
                <ul>
                         {% if not g.user  %}
                        <br>
                      <li>  </li>
                      {% else %}
                             <button type="button" onclick="window.location.href = '{{ url_for('qa.history') }}';" autofocus>more→</button>
                               {% for history in histories[:3] %}
                        <li><h3><a href="{{ url_for('qa.qa_detail', qa_id=history.question.id) }}">#{{history.question.title}}</a> </h3></li>
                      {% endfor %}
                         {% endif %}

                </ul>
            </form>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-sm-4">
            <form method="POST" >

                <div class="quick-review-container">
                    <h2>Saved</h2>

                </div>

                <ul>
                    <!--显示最近三条保存-->
                 {% if not g.user %}

                         <br>
                      <li>  </li>
                      {% else %}
                     <button type="button" onclick="window.location.href = '{{ url_for('qa.save') }}';" autofocus>more→</button>
                     {% for save in saves[:3] %}
                        <li><h3><a href="{{ url_for('qa.qa_detail', qa_id=save.question.id) }}">#{{save.question.title}}</a> </h3></li>
                    {% endfor %}
                {% endif %}
                </ul>
            </form>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>

        <div class="col-sm-4">
            <form method="POST">

                <div class="quick-review-container">
                    <h2>My Post</h2>

                </div>

                <ul>

                    {% if not g.user  %}
                        <br>
                      <li>  </li>
                      {% else %}
                        <button type="button" onclick="window.location.href = '{{ url_for('qa.public_my_post') }}';" autofocus>more→</button>
                         {% for my_post in my_posts[:3] %}
                            <li><h3><a href="{{ url_for('qa.qa_detail', qa_id=my_post.id) }}">#{{ my_post.title }}:</a></h3></li>
                    {% endfor %}
                  {% endif %}
                </ul>
            </form>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>

    </div>
</div>
</body>
</html>