<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bee Aware Forum</title>
	</head>
    <body>
        <div>
            <a href="#">
                <h1><b>Bee Aware Forum</b></h1>
            </a>
           <div>
                <ul>
                    <!-- <li><a href="http://127.0.0.1:5000/index">log out</a></li>
                    <li><a href={{ set_href_index(id) }}>Home page</a></li> -->

                    <li><a href="http://127.0.0.1:5000/index">log out</a></li>
                    <li><a href={{ set_href_index(user.id) }}>Home page</a></li>
                    <li><a href="{{ url_for('create', id=user.id) }}">Create a Post</a></li>
                    <li><a href="{{ url_for('favorites', id=user.id) }}">favorites</a></li>
                    <li><a href="{{ url_for('history', id=user.id) }}">history</a></li>
                    
                </ul>
            </div>
            <div>
                <ul>
                  <li><p><b>Welcome to create your post</b></p></li>
                </ul>
            </div>
        </div>
        <hr />
        <div>
            <form action="http://127.0.0.1:5000/uploader/" method="POST" enctype="multipart/form-data">
                <!-- post title -->
                <div>
                    <span><b>Post title</b></span>
                    <input type="text" name="title">
                </div><br>
                <!-- post id -->
                <div>
                    <span>Post id (auto-increment)</span>
                    <!-- <input type="text" name="id"> -->
                </div><br>
                 <!-- poster id -->
                 <div>
                    <span>Poster id (auto-get)</span>
                    <input type="hidden" name="poster_id" value={{user.id}}> 
                    <!-- 上面一行有问题 -->
                </div><br>
                <!-- post date -->
                <div>
                    <span>Post date</span>
                    <input type="date" name="postDate">
                </div><br>
              <!-- post text -->
                <div>
                    <span>Description</span>
                    <input type="text" name="text" style="padding: 10px; font-size: 16px; border: 2px solid #8c8c8c; border-radius: 5px; width: 250px; outline: none;">
                </div><br>
                <!-- post time -->
                <div>
                    <span>Post time</span>
                    <input type="time" name="postTime">
                </div><br>
                <!-- file -->
                <input type="file" name="file"  /><br>
        
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }} <br>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <input type="submit" value="提交" /><br>
            </form>
        </div>
	</body>
</html>