{% extends 'index.html' %}
<!-- <div>anonymity=False, id=id, username=username, posts=posts</div> -->
{% block head1 %}


	<!-- <li><a href="http://127.0.0.1:5000/index">log out</a></li>
	<li><a href={{ set_href_index(user.id) }}>Home page</a></li>
    <li><a href="{{ url_for('create', id=user.id) }}">Create a Post</a></li> -->

	<li><a href="http://127.0.0.1:5000/index">log out</a></li>
	<li><a href={{ set_href_index(user.id) }}>Home page</a></li>
    <li><a href="{{ url_for('create', id=user.id) }}">Create a Post</a></li>
	<li><a href="{{ url_for('favorites', id=user.id) }}">favorites</a></li>
	<li><a href="{{ url_for('history', id=user.id) }}">history</a></li>


{% endblock head1 %}

{% block head2 %}
<div><h4>history page!!!</h4></div>
{% endblock head2 %}


{% block head3 %}

{% for post in posts %}

	<div style="border: 1px solid #000;">
		<div>
			<div>
				<!-- <img src={{ post.img_src }} alt="Image loading failure" style="display: inline-block;height: auto;max-width: 100%;"> -->
				<img src="{{ post.img_src }}" alt="Image loading failure" style="display: inline-block; height: auto; max-width: 200px; width: 100%;">
			</div>

			<div>
				<h1>Title: {{ post.title }}</h1>
				<h3>ID:&nbsp;{{ post.id }}<br><br></h3>
				<h3>Poster ID:&nbsp;{{ post.posterId }}<br><br></h3>
				<p>Content: {{ post.text }}</p>
				<form action="http://127.0.0.1:5000/add_romove_history" method="POST">
					<div>
						<input type="hidden" name="append_or_remove" value="append">
						<input type="hidden" name="post_id" value="{{ post.id }}">
						<input type="hidden" name="user_id" value="{{ user.id }}">
					</div>
					<button type="submit">Click to Learn More</button>
				</form>
			</div>

			<div>
				<form action="http://127.0.0.1:5000/add_romove_history" method="POST">
					<div>
						<input type="hidden" name="append_or_remove" value="remove">
						<input type="hidden" name="post_id" value="{{ post.id }}">
						<input type="hidden" name="user_id" value="{{ user.id }}">
					</div>
					{% if post in user.history %}
					<button type="submit">delete</button>
					{% endif %}
				</form>
			</div>

		</div>
		<div>
			Post Time: {{ post.postDate }} {{ post.postTime }} &nbsp;&nbsp;&nbsp;
		</div>
	</div>
	<br>

{% endfor %}


{% endblock head3 %}