{% extends 'index.html' %}
<!-- <div>anonymity=False, id=id, username=username, posts=posts</div> -->
{% block head1 %}

    {% if anonymity %}
    <!-- <li><a href="http://127.0.0.1:5000/login">log in</a></li>
	<li><a href="http://127.0.0.1:5000/register">register</a></li> -->
    {% else %}
	<li><a href="http://127.0.0.1:5000/index">log out</a></li>
	<li><a href={{ set_href_index(user.id) }}>Home page</a></li>
    <li><a href="{{ url_for('create', id=user.id) }}">Create a Post</a></li>
	<li><a href="{{ url_for('favorites', id=user.id) }}">favorites</a></li>
	<li><a href="{{ url_for('history', id=user.id) }}">history</a></li>

	</a></li>
	
    {% endif %}

{% endblock head1 %}

{% block head2 %}

    {% if anonymity %}
    <a href="http://127.0.0.1:5000/login"><button type="button" >Log in</button></a>
    <a href="http://127.0.0.1:5000/register"><button type="button" >Sign in</button></a>
	<p>You are currently browsing as a visitor (not logged in)</b></p>
    {% else %}
    <p>Hello! User: <b>{{ user.name }}</b> User ID:<b>{{ user.id }}</b></p>
    {% endif %}

{% endblock head2 %}


{% block head3 %}

{% for post in posts %}

	<div style="border: 1px solid #000;">
		<div>
			<div>
				<!-- <img src={{ post.img_src }} alt="Image loading failure" style="display: inline-block;height: auto;max-width: 100%;"> -->
				<img src="{{ post.img_src }}" alt="Image loading failure" style="display: inline-block; height: auto; max-width: 200px; width: 100%;">
			</div>
			<div>
				<h1>Title: {{ post.title }}</h1>
				<h3>ID:&nbsp;{{ post.id }}<br><br></h3>
				<h4>poster ID:&nbsp;{{ post.poster_id }}<br><br></h4>
				<p>Content: {{ post.text }}</p>

				{% if anonymity %}
				<a href={{ set_href_detail_anonymity(post.id) }}>Click to Learn More</a>
				{% else %}
				<form action="http://127.0.0.1:5000/add_romove_history" method="POST">
					<div>
						<input type="hidden" name="append_or_remove" value="append">
						<input type="hidden" name="post_id" value="{{ post.id }}">
						<input type="hidden" name="user_id" value="{{ user.id }}">
					</div>
					<button type="submit">Click to Learn More</button>
				</form>
				{% endif %}
			</div>

			{% if anonymity==0 %}
			<div>
				<form action="http://127.0.0.1:5000/add_romove_favorite" method="POST">
					<div>
						<input type="hidden" name="post_id" value="{{ post.id }}">
						<input type="hidden" name="user_id" value="{{ user.id }}">
					</div>
					{% if post in user.favorites %}
					<button type="submit">unfavorite</button>
					{% else %}
					<button type="submit">favorite</button>
					{% endif %}
				</form>
			</div>
			{% endif %}

		</div>
		<div>
			Post Time: {{ post.postDate }} {{ post.postTime }} &nbsp;&nbsp;&nbsp;
		</div>
	</div>
	<br>

{% endfor %}


{% endblock head3 %}