<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bee Aware Forum</title>
	</head>
    <body>
        <div>
            <a href="#">
                <h1><b>Bee Aware Forum</b></h1>
            </a>
           <div>
                <ul>
                    <li><a href="http://127.0.0.1:5000/index">Home page</a></li>
                    <li><a href="http://127.0.0.1:5000/register">Sign in</a></li>
                </ul>
            </div>
            <div>
                <ul>
                  <li><p><b>Welcome to log in</b></p></li>
                </ul>
            </div>
        </div>
        <hr />
        <div>
            <form action="http://127.0.0.1:5000//login" method="POST">
                <div>
                    <span><b>ID</b></span>
                    <input type="text" name="id">
                </div>
                <div>
                    <span>Password</span>
                    <input type="password" name="password">
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }} <br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <button type="submit" style="margin-top: 20px;">Log in</button>
            </form>
        </div>
	</body>
</html>


{% block block1 %}
    
{% endblock block1 %}