<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bee Aware Fourm</title>
	</head>
    <body>
        <div>
            <a href="#">
                <h1><b>Bee Aware Fourm</b></h1>
            </a>
           <div>
                <ul>
                    {% block head1 %}

                    {% endblock head1 %}
                </ul>
            </div>
            <div>
                <ul>
                    {% block head2 %}

                    {% endblock head2 %}
                </ul>
            </div>
        </div>
        <hr />
        <div>
            {% block head3 %}

            {% endblock head3 %}
        </div>
	</body>
</html>
