<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{question.title}}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Bee Aware Forum</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
               <li class="active"><a href="{{ url_for('qa.index') }}">Homepage</a></li>
                <li><a href="{{ url_for('qa.public_my_post') }}">My post</a></li>
              <li><a href="{{ url_for('qa.save') }}">My save</a></li>
                <li><a href="{{ url_for('qa.public_qa') }}">post</a></li>
			  </ul>



		  	<button type="button" class="btn btn-primary me-2" style="float:right;background-color:firebrick;color: white;"><a href="{{ url_for('auth.login') }}">Log in</a></button>
		  	<button type="button" class="btn btn-success"style="float:right;background-color: darkgoldenrod;color: white;"><a href="{{ url_for('auth.register') }}">Register</a></button>
		    <div class="btn-group" >
		    <button type="button" class="btn btn-default dropdown-toggle" style="float:right; background-color: black; color: gray;"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      My Account <span class="caret"></span></button>
		      <ul class="dropdown-menu">
		      <li><a href="{{ url_for('qa.history')}}">History</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ url_for('qa.profile')}}">User account</a></li>
                </ul>
            </div>
        </div>
    </div>

    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</nav>


<br>
<br>
<div class="container">
    <div class="panel panel-default">
            <div class="panel-body">
<div class="row" style="margin-left: 100px;">
        <h2>Title: {{question.title}}</h2>
        <p class="question-info">
           <p>author:{{ question.author.username }}</p>
        <p>time:{{ question.create_Time }}</p>
    <br>
        <h4>{{question.content}}</h4>
        </div>
            </div>
    </div>
        <br>
        <br>

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Comment area: </h1>

                 <form>
                <div style="float: left;">
                    {% for answer in question.answers %}
                    <h4 style="margin-left: 50px;">name: {{answer.author.username}}</h4>
                    <p style="margin-left: 50px">time: {{ answer.create_Time }}</p>
                    <p style="margin-left: 50px;">reply: {{ answer.content }}</p>
                    <br>
                    {% endfor %}
                </div>
                     </form>


                <form action="{{ url_for("qa.public_answer") }}" method="post">
                    <div class="form-group">
                        <input type="text" name="content" class="form-control" placeholder="Enter what you want to comment on">
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                 <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        </div>

    </div>
</div>
</body>
</html>